.css-1exzfg6-MuiListItem-root > .MuiListItemButton-root {
  padding-right: 0px !important;
}

.css-et1ao3-MuiTypography-root {
  font-weight: 800 !important;
  font-size: 0.875rem !important;
}
.css-1pqm26d-MuiAvatar-img {
  object-fit: contain !important;
  width: 40px !important;
  height: 40px !important;
}

.serverDetailWrapper{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.chat-name-edit-icon-wrapper{
  justify-content: space-between !important;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.chat-banner-div{
width: 100%;
height: 30%;
border-radius: 10px;

}
.save-icon-div{
width: 100%;
height: 100%;
display: flex;
}
.save-icon-div svg{
  margin: auto;
    fill: white;
    height: 102px;
    width: 102px;
}